* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background: #050205;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    margin: auto;
}

nav {
    background: #3b3b3b;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

nav ul li {
    list-style: none;
    display: inline-block;
    padding: 13px 35px;
    margin: 10px;
    font-size: 18px;
    font-weight: 500;
    color: #ffffff !important;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 0.5ms;
}

nav ul li::after {
    content: '';
    background: #FFCB74;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5ms;
}

nav ul li:hover {
    color: ghostwhite !important;
}

nav ul li:hover::after {
    top: 50%;
    opacity: 1;
}

.navbar {
    color: #FFCB74;
}

.navbar:hover {
    color: #FFCB74;
}


/* Additional CSS styles for the nav bar */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

nav {
    background-color: #3b3b3b;
    padding: 10px;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.4);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.5s;
}

a:hover {
    color: #FFCB74;
}